<mat-tab-group>
  <mat-tab label="App Shell">
    <mat-card>
      <mat-card-content>
        <h3>Welcome to the App Shell!</h3>

        <img src="assets/icons/icon-512x512.png" width="200" alt="" />

        <br>

        <img src="https://developers.google.com/web/tools/workbox/images/workbox-icon192x192.png" width="200" alt="" />
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Runtime Caching">
    <tweet-feeds></tweet-feeds>
  </mat-tab>

  <mat-tab label="App Shell Update">
    <app-shell-update></app-shell-update>
  </mat-tab>

  <mat-tab label="Push Notifications">
    <push-subscription></push-subscription>
  </mat-tab>
</mat-tab-group>
